body {
    background-color: papayawhip;
    margin: 50px 50px;
}
.strikeout{
    text-decoration: line-through;
}

h1 {
    text-align: center;
    font-family: monospace;
    font-size: 35px;
    /* margin: 50px 150px; */
}

h2{
    margin: 0;
    font-size: 25px;
}

p{
    font-size: 20px;
}
section.item ,.strikeout ,form{
    padding: 10px;
    border: 2px #FF9800 solid;
    background-color: snow;
    text-align: center;
    margin: 20px 20px;
}

section>p {
    padding: 5px;
    background-color: #dad8d6;
    text-align: center;
}
