body {
    background-color: #01ad9d;
    margin: 50px 50px;
}

/* style when user hit done button */
.strikeout{
    text-decoration: line-through;
}

/* todo list heading */
h1 {
    font-family: serif;
    font-size: 35px;
    text-decoration: underline;
    text-align: center;
}

h2{
    margin: 0;
    font-size: 22px;
}

p{
    font-size: 16px;
}

/* for items in section and form */
section.item ,.strikeout ,form{
    padding: 10px;
    border: 4px #9E9E9E solid;
    background-color: snow;
    font-family: sans-serif;
    margin: 20px 20px;
    border-radius: 10px;
}

section>p {
    padding: 5px;
    background-color: #e2e2e2;
    border-radius: 5px;
}
